html,body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/*Navbar Styles*/

.topnav {
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0; 
    width: 100%;
    z-index: 200;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    padding: 16px 18px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: #4ca7af;
    color: white;
}

.topnav-centered a {
    border-radius: 100%;
    float: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.topnav-right {
    float: right;
}


@media screen and (max-width: 870px) {
    .topnav a, .topnav-right {
    float: none;
    display: block;
}
    
    .topnav-centered a {
    position: relative;
    top: 0;
    left: 0;
    transform: none;
}
}

/* Section Styles with image*/
.section1style{
    margin: 10vh 5vw 2vh 5vw;
}

.section2style{
    margin: 1vh 5vw 2vh 5vw;
}

/*Contact Us Styles*/
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 10px;
}

.column {
    float: left;
    margin: 0vh 5vw 0vh 25vw;
    width: 50%;
    padding: 20px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}
@media screen and (max-width: 600px) {
    .column, input[type=submit] {
    width: 100%;
    margin-top: 0;
    }
}

/* Carousal Styles*/
.pic-ctn {
    width: 100vw;
    height: 200px;
}

@keyframes display {
    0% {
    transform: translateX(200px);
    opacity: 0;
}
10% {
    transform: translateX(0);
    opacity: 1;
    }
20% {
    transform: translateX(0);
    opacity: 1;
    }
30% {
    transform: translateX(-200px);
    opacity: 0;
    }

100% {
    transform: translateX(-200px);
    opacity: 0;
    
}
}

.pic-ctn {
    position: relative;
    width: 100vw;
    height: 300px;
    margin-top: 2vh;
}

.pic-ctn > img {
    position: absolute; 
    width: 50%;
    max-height: 60vh;
    top: 0;
    left: calc(34% - 100px);
    opacity: 0;
    animation: display 10s infinite;
}

img:nth-child(2) {
    animation-delay: 2s;
}
img:nth-child(3) {
    animation-delay: 4s;
}
img:nth-child(4) {
    animation-delay: 6s;
}
img:nth-child(5) {
    animation-delay: 8s;
}
    

/*About us section*/
*{
    margin: 0;
    padding: 0;
    font-family: "Open Sans",sans-serif;
    
}

.about-section{
    background: url(pic6.png) no-repeat left;
    background-size: 55%;
    background-color: #fdfdfd;
    overflow: hidden;
    padding: 100px 0;
}

.inner-container{
    box-sizing: border-box;
    width: 55%;
    float: right;
    background-color: #fdfdfd;
    padding: 150px;
}

.inner-container h1{
    
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: 900;
}

.text{
    font-size: 13px;
    color: #545454;
    line-height: 30px;
    text-align: justify;
    margin-bottom: 40px;
}

.skills{
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    font-size: 13px;
}

@media screen and (max-width:1200px){
    .inner-container{
        padding: 80px;
    }
}

@media screen and (max-width:1000px){
    .about-section{
        background-size: 100%;
        padding: 100px 40px;
    }
    .inner-container{
        width: 100%;
    }
}

@media screen and (max-width:600px){
    .about-section{
        padding: 0;
    }
    .inner-container{
        padding: 60px;
    }
}